
.display{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #24baa1;
    height: 50px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 20px;
}
h3{
    padding-right: 10px;
}
